/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

/* Variables */
:root {
    /* Explicit rem */
    font-size: 16px;

    /* Colors */
    --bg-primary: #0061fe;
    --bg-primary-lighter: #b4d0e6;
}

body {
    /* Debug */
    &.debug {
        * {
            border: 1px solid red;
        }
    }

    /* Utility */
    .container {
        margin: 0 auto;
        padding: 0 1rem;
        max-width: 1200px;
    }

    .panels-section {
        display: flex;
        .panel-text {
            width: 30%;
            font-size: 1.2rem;
        }
        .panel-image {
            width: 70%;
        }
    }

    .link-button {
        text-decoration-line: none;
        padding: 0.5rem 1rem;
        background-color: var(--bg-primary);
        color: white;
        .link-button--alternative {

        }
    }

    .d-block {
        display: block;
    }

    .my-2 {
        margin: 2rem 0;
    }

    .mt-4 {
        margin-top: 4rem;
    }

    .w-fit-content {
        width: fit-content;
    }

    .text-big {
        font-size: 3rem;
    }

    /* Globals */
    img {
        display: block;
        width: 100%;
    }

    /* #region Header */
    header {
        /* Menu */
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 1rem;
            ul {
                display: flex;
                align-items: center;
                column-gap: 2rem;
                li {
                    a {
                        text-decoration-line: none;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        /* Hero */
        .hero {
            height: 740px;
            background-color: var(--bg-primary-lighter);
            h1 {
                padding: 5rem 0 3rem;
                font-size: 6rem;
            }
        }

    }
    /* #endregion Header */

    /* #region Main */
    main {

    }
    /* #endregion Main */

    /* #region Footer */
    footer {

    }
    /* #endregion Footer */
}